.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*/////////////////////////// Navbar ///////////////////////////*/


    .Navbar {
        font-size: 18px;
        background-image: radial-gradient(circle, rgba(26,122,32,1) 0%, rgba(2,27,12,1) 100%);
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 5px;
    }

    .main-nav {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .main-nav-notloggedin {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .nav-links {
        text-decoration: none;
        color: white;
    }

    .Logout {
      align-self: center;
    }

    #logo {
        display: inline-block;
        font-size: 28px;
        margin-left: 20px;
        color: white;
        text-shadow: 1px 1px 1px #000000
    }

    #datetime {
      display: none;
    }

    .signlog-links {
      text-decoration: none;
      color: white;
      margin-right: 20px;
    }

    @media screen and (min-width: 768px) {
        .navbar {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            height: 70px;
            align-items: center;
        }

        .main-nav {
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: space-around;
        }

        .nav-links,
        .Logout,
        #logo {
            margin-left: 40px;
        }

        #datetime {
          display: flex;
          margin-top: 10px;
          margin-left: 40px;
          font-size: 17px;
        }

        .nav-links:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

/* ///////////// BACKGROUNDS ////////////// */

html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 26px;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  transition: margin .3s cubic-bezier(.23,1,.32,1);
  width: 100%;
}

.centered {

}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #105b14;
  color: white;
}

    .background {
      background: url("https://imgur.com/cs22Bhk.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
    }

    .homeb {
      background: url("https://imgur.com/Ir2xewy.jpg") no-repeat center center fixed;
    }


/*/////////////////////////// Buttons ///////////////////////////*/


.signlog-button {
  display: inline;
  margin: 40px;
  font-size: 26px;
  border: 1px solid #000000;
  padding: 10px 14px 10px 14px;
  background-image: radial-gradient(circle, rgba(166,194,153,1) 14%, rgba(16,91,20,1) 100%);
}

.signlog-button-link {
  color: black;
  text-decoration: none;
}

.edit-button-link {
  color: white;
  text-decoration: none;
}

.Edit-group-button {
  display: inline;
  margin: 40px;
  font-size: 16px;
  border-top: 2px double #ffffff;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 12px 14px 12px 14px;
  position: absolute;
  top: 60px;
  right: 60px;
  border-radius: 90px / 45px;
  background-image: linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 0%), linear-gradient(0deg, rgba(82,41,12,1) 0%, rgba(177,94,27,1) 100%);
  background-position: top;
  background-size: 20px 4px;
  background-repeat: repeat-x, round;
}

.admin-button {
  margin: 40px;
  font-size: 16px;
  border-top: 2px double #ffffff;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 12px 14px 12px 14px;
  border-radius: 90px / 45px;
  background-image: linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 0%), linear-gradient(0deg, rgba(82,41,12,1) 0%, rgba(177,94,27,1) 100%);
  background-position: top;
  background-size: 20px 4px;
  background-repeat: repeat-x, round;
}

.delete-button {
  color: red;
  border: 2px double red;
}


/*/////////////////////////// Font ///////////////////////////*/

.page-title {
  color: white;
  text-shadow: 1px 1px 1px #000000
}

.or {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  display: inline;
}

.group-links {
  font-size: 20px;
}

.week-name {
  font-size: 18px;
  margin: 36px;
  line-height: 14px;
  display: inline-block;
}

.code {
  font-weight: bold;
  font-size: 16px;
  line-height : 20px;
  position: relative;
  bottom: 20px;
}

.invite {
  position: relative;
  bottom: 10px;
  line-height : 18px;
}

.game-links {
  font-size: 20px;
  margin: 36px;
  line-height: 8px;
  display: inline-block;
}

.admin-week-names > p {
  font-weight: bold;
  font-size: 26px;
  line-height: 12px;
}


/*/////////////////////////// Forms ///////////////////////////*/

.input {
  font-size: 16px;
  margin: 3px;
}

/*/////////////////////////// Lists show / boxes ///////////////////////////*/

.shadow {
  box-shadow: 0 3px 10px #333;
}

.section {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-image: linear-gradient(90deg, rgba(91,45,16,0.95) 0%, rgba(235,226,212,0.99) 50%, rgba(91,45,16,0.95) 100%);
  width: 70%;
}

/* radial-gradient(circle, rgba(166,194,153,1) 77%, rgba(16,91,20,1) 100%); */

.scroll_box {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
  max-height: 450px;
  overflow: auto;
}

.admin-week-names {
  border: 6px double black;
  margin-bottom: 30px;
}

#join {
  padding-top: 0px;
  padding-bottom: 20px;
}

#groups-list {
  height: 310px;
}

#weeks-list {
  width: 80%;
}

#admin-gamelist {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 500px;
}

.Group-code-box {
  display: inline;
  margin: 40px;
  font-size: 12px;
  border: 1px solid #000000;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 40px;
  width: 200px;
  height: 70px;
}

.weeks-list-flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
